
#tf-doc-container {
  padding: 20px;
}

.tf-pix-transf{
  padding: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;

  @media(max-width: 320px){
    font-size: 12px;
  }

 @media(max-width: 344px){
    font-size: 12px;
  }

}

.tf-pix-detalhes h3{
  color: #848484;
  padding: 30px;
}
.tf-pix-detalhes {
  color: #636363;
  font-weight: 700;
  margin: 30px 0;
}

.tf-pix-detalhes-bottom p{
  padding: 30px;
  font-weight: 700;
  color: #007ad9;

}

/*========================= doc Formulario ========================= */

.tf-doc-favorecido {
  padding: 5px;
}
.tf-doc-favorecido-valor {
  padding: 0 5px;
}
.tf-doc-favorecido-banco {
  padding: 0 5px;
}
.tf-doc-favorecido-ag {
  padding: 0 5px;
}
.tf-doc-favorecido-conta {
  padding: 0 5px;
}

.tf-doc-favorecido input {
  padding: 10px;
  height: 25px;
  width: 220px;
}
.tf-doc-favorecido-valor input {
  padding: 10px;
  height: 25px;
  width: 120px;
}
.tf-doc-favorecido-ag input {
  padding: 10px;
  height: 25px;
  width: 60px;
}
.tf-doc-favorecido-conta input {
  padding: 10px;
  height: 25px;
  width: 100px;
}

/*========================= doc Botões ========================= */

.tf-doc-btn-container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.tf-doc-btn-envia {
  background-color: #007ad9;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  font-weight: 700;
}
.tf-doc-btn-voltar {
  background-color: #ee1313;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  font-weight: 700;
}

.tf-doc-btn-envia {
  cursor: pointer;
}

.btn-doc:active {
  transform: translate(2px);
}