
#tf-confirm-container {
  padding: 20px;
}

.tf-confirm-transf{
  padding: 30px;
  
  font-size: 14px;
  display: flex;
  justify-content: center;

  @media(max-width: 320px){
    font-size: 12px;
  }

 @media(max-width: 344px){
    font-size: 12px;
  }

}

.tf-confirm-detalhes {
  border: 1px solid #d9d9d9;
  color: #007ad9;
  font-weight: 700;
  margin: 30px 0;
}

.tf-confirm-detalhes h3{
  color: #848484;
  padding: 30px 0;
}

.tf-confirm-dados{
  color: #636363;
  font-weight: 700;
  margin: 30px 0;
}

.tf-confirm-info{
  padding: 30px 5px;
  font-weight: 700;
  color: #007ad9;

}

/*========================= doc Botões ========================= */

.tf-confirm-container {
  display: flex;
  flex-wrap: wrap;
}

.tf-confirm-btn-conclui a {
   color: #fff;
  text-transform: initial;
  text-decoration: none;
}
.tf-confirm-btn-cancela a {
   color: #fff;
  text-transform: initial;
  text-decoration: none;
}

.tf-confirm-btn-conclui {
  background-color: #007ad9;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: 700;
}
.tf-confirm-btn-cancela {
  background-color: #ee1313;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.tf-doc-btn-envia {
  cursor: pointer;
}

.btn-doc:active {
  transform: translate(2px);
}