#tf-menuinicial-container{
  padding: 20px;
}

.tf-menuinicial{
  padding: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;

  @media(max-width: 320px){
    font-size: 12px;
  }

 @media(max-width: 344px){
    font-size: 12px;
  }

}

.tf-menuinicial-detalhes{
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

.tf-menuinicial-detalhes-top{
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
}

.tf-menuinicial-detalhes-bottom{
  padding: 30px 0;
}

.tf-menuinicial-detalhes-bottom h2{
  padding: 30px 5px;
  color: #848484;

@media(max-width: 344px){
    font-size: 20px;
  }

}

.tf-menuinicial-detalhes-bottom p{
  padding: 30px 5px;
  font-size: 14px;
  font-weight: 700;
 color: #007ad9;

@media(min-width: 540px){
    font-size: 20px;
  }
  
}

.tf-menuinicial-tipo-container{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d9d9d9;
  
}

.tf-menuinicial-btn-tipo a {
   color: #fff;
  text-transform: initial;
  text-decoration: none;
}

.tf-menuinicial-btn-tipo{
  background-color: #007ad9;
  border-radius: 5px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 10px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;

}






